DB_HOST=localhost
DB_USER=votre_utilisateur_mysql
DB_PASSWORD=@Stan95900616
DB_NAME=whatsapp_bot
SESSION_SECRET=votre_secret_session_aleatoire_et_long
ADMIN_PORT=4000
BOT_INTERNAL_URL=http://bot.odsysteme.tech
BOT_API_SECRET=4bFsLxzHObueHwTp9vobD0Ga0JTHplGAtMyLnpYA
